<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>TOTAL SALERY</td>
            <td>{{adict.sum_salery}}</td>
        </tr>
        <tr>
            <td>AVERAGE SALERY</td>
            <td>{{adict.avg_salery}}</td>
        </tr>
        <tr>
            <td>MAX SALERY</td>
            <td>{{adict.max_salery}}</td>
        </tr>
        <tr>
            <td>Min SALERY</td>
            <td>{{adict.min_salery}}</td>
        </tr>
    </table>
</body>
</html>