<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <form action="/update_emp">
        <tr>
          <td>Empno</td>
          <td><input type="text" name="eno" /></td>
        </tr>
        <tr>
          <td>Salery</td>
          <td><input type="text" name="usal" /></td>
        </tr>
        <tr>
          <td><input type="submit" value="update" /></td>
        </tr>
      </form>
    </table>
    {{msg}}
  </body>
</html>
