<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        td{
            font-size: 25px;
        }
        input{
            font-size: 20px;
        }
        .btn{
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <table>
        <form action="/resister">
            <tr>
                <td>Name: </td>
                <td><input type="text" name="names"></td>
            </tr>
            <tr>
                <td>UserName: </td>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td><input type="submit" value="resister" class="btn"></td>
            </tr>
        </form>
    </table>
</body>~
</html>