{%extends 'app1/index.html'%} {%block content%}
<form action="/add">
  <table>
    <tr>
      <td>Roll no.</td>
      <td><input type="text" name="rno" /></td>
    </tr>
    <tr>
      <td>Stdent Name</td>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr>
      <td>Subject1</td>
      <td><input type="text" name="sub1" /></td>
    </tr>
    <tr>
      <td>Subject2</td>
      <td><input type="text" name="sub2" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="add" /></td>
    </tr>
  </table>
</form>
{{msg}}
{%endblock%}
