<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Roll no.</th>
            <th>Name</th>
            <th>Course</th>
            <th>Photo</th>
        </tr>
        {%for rollno,data in student_data.items%}
        <tr>
            <td>{{rollno}}</td>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
            <td><img src="{%static 'images/'%}{{data.2}}" width="60px" height="80px"></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>